.rando {
  font-style: italic;
}
img{
  display: block;
  margin: auto;
  width: 800px;
  height: auto;
}

img.intro{
  width: 400px;
  display: block;
  margin: auto;
  height: auto;
}
h2{
  font-family:fantasy;
  text-align: center;
}
h1{
  text-align: center;
}

.important {
  color: red;
  text-align: center;
  font-family: sans-serif;
}

.unimportant {
  color: blue;
  text-align: center;
  font-family: sans-serif;
}
