body {
  font-family: sans-serif;
  text-align: center;
  background-color: #4b3832;
  color: 	#fff4e6;
}

div {
  font-family: fantasy;
  color: green;
  font-weight: 600;
}

h2 {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
